.eventName, .eventHost {
  color: white;
  position: relative;
  text-align: left;
  left: 300px;
  animation: wait 1.5s;
}

.eventName {
  font-size: 40px;
  left: 200px;
}

.eventHost {
  font-size: 20px;
  font-weight: 100;
}

.eventType {
  color: white;
  position: relative;
  font-size: 45px;
  right: -20vw;
  bottom: 30px;
  animation: transitionIn 1.5s;
}

.eventHost {
  animation: wait 2.3s;
}

.pageContainer {
  display: block;
  padding-right: 300px;
  /* border: 1px solid black; */
}

.divider {
  background-color: red;
  width: 200px;
  height: 3px;
  position: relative;
  left: 320px;
  top: -28px;
  animation: divider 1.5s ease-in;
}

.image {
  background-color: black;
  width: 100vw;
  height: 45vh;
  animation: transitionIn 1s;
}

.nav {
  display: flex;
  flex-direction: row;
  position: sticky;
  height: 2.5em;
  width: auto;
  padding-left: 80px;
  background-color: #101010;
  top: 0px;
  z-index: 150;
  animation: wait 1.5s;
}

.navLink {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 100;
  text-decoration: none;
  margin: 10px 20px;
  border-bottom: transparent;
  transition: border-bottom 0.4s;
}

.navLink:hover {
  border-bottom: 2px solid red;
  transition: border-bottom 0.4s;
}

.navLinkActive {
  font-weight: 200;
  border-bottom: 2px solid red;
}

.belowNav {
  display: grid;
  grid-template:
    "info group" 360px
    "info RSVP" 800px / 60% 40%
}

.info {
  grid-area: info;
}

.groupCard {
  padding-top: 20px;
  position: sticky;
  top: 40px;
  grid-area: group;
}

.RSVPInfo {
  margin: 30px 0;
  /* position: sticky;
  top: 220px; */
  grid-area: group;
}

.widgetDivider {
  background-color: red;
  width: 3px;
  height: 90px;
  position: relative;
  left: 300px;
  top: -350px;
  animation: widgetDivider 2s ease-in;
}

@keyframes widgetDivider {
  from {
    transform: translateY(300px);
    height: 300px;
  }
  to {
    transform: translateY(0px);
    /* width: 200px; */
  }
}

@keyframes wait {
  from {
    transform: translateX(-600px);
    width: 600px;
  }
  to {
    transform: translateX(0px);
    width: 100%;
  }
}

@keyframes divider {
  from {
    transform: translateX(1000px);
    width: 600px;
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes transitionIn {
  from {
      opacity: 0.0;
      transform: translateX(10px);
    }
    to {
      opacity: 1.0;
  }
}
