.gradientWrapper {
  z-index: 1;
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: inline-block;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,#27282c 95%);
}

.welcomeImage {
  position: relative;
  z-index: -1;
  width: 100%;
  bottom: 20px;
  height: auto;
  animation: fadeIn 2s;
}

.welcomeContainer {
  padding-bottom: 40px;
}

.welcomeTitle,
.welcomeText {
  color: white;
  text-align: center;
}

.loggedOutPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  margin: 100px;
  padding: 0 80px;
}

.section {
  min-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: transitionIn 1s;
}

.buttonContainer {
  background-color: #1e1f23;
  padding: 10px;
  border: 1px solid #1e1f23;
  border-radius: 5px;
  box-shadow: -2px 2px 6px 1px #111;
}

.image {
  width: 200px;
  height: 160px;
  color: white;
  background-color: black;
}

.sectionTitle {
  color: white;
  animation: transitionIn 0.3s;
}

.yourNextEvent {
  padding: 0 40px;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explore > h4 {
  font-weight: 200;
  color: white;
}

.discover {
  display: flex;
  flex-direction: column;
}

.discoverImage {
  width: 285px;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
}

.button {
  color: #fd2828;
  text-transform: uppercase;
  font-weight: 200;
  text-decoration: none;
  margin: 20px 0px;
  padding: 12px 20px;
  max-width: 228px;
  background-color: transparent;
  border: 2px solid #fd2828;
  border-radius: 8px;
  transition: box-shadow 0.3s;
  animation: transitionIn 1s;
}

.button:hover {
  color: white;
  background-color: #fd2828;
}

.button:active {
  box-shadow: -1px -1px 2px 1px rgb(10, 10, 10);
}

.joinGroupsImage {
  width: 80%;
  margin-top: 20px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 8px 8px white inset;
}

@keyframes gradientIn {
  from {
      opacity: 0.0;
    }
    to {
      opacity: 1.0;
  }
}

@keyframes transitionIn {
  from {
      opacity: 0.0;
      transform: translateY(10px);
    }
    to {
      opacity: 1.0;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0.0;
      transform: scale(1.05)
    }
    to {
      opacity: 1.0;
  }
}
