.groupName, .groupOwner {
  color: white;
  position: relative;
  text-align: left;
  left: 300px;
  animation: wait 1.5s;
}

.groupName {
  font-size: 40px;
  left: 200px;
}

.groupOwner {
  font-size: 20px;
  font-weight: 100;
}

.groupType {
  z-index: 999;
  color: white;
  position: relative;
  font-size: 45px;
  right: -20vw;
  bottom: -25px;
  animation: transitionIn 1.5s;
}

.groupOwner {
  animation: wait 2.3s;
}

.pageContainer {
  display: block;
  /* padding-right: 300px; */
  /* border: 1px solid black; */
}

.divider {
  background-color: red;
  width: 200px;
  height: 3px;
  position: relative;
  left: 320px;
  top: -28px;
  animation: divider 1.5s ease-in;
}

.imageWrapper {
  z-index: 1;
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: inline-block;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,#27282c 95%);
}

.image {
  position: relative;
  z-index: -1;
  width: 100%;
  bottom: 20px;
  height: auto;
  animation: fadeIn 2s;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  height: 50px;
  width: auto;
  padding-left: 80px;
  background-color: #101010;
  top: 50px;
  z-index: 150;
  animation: wait 1.5s;
}

.navLink {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 100;
  text-decoration: none;
  margin: 10px 20px;
  border-bottom: transparent;
  transition: border-bottom 0.4s;
}

.navLink:hover {
  border-bottom: 2px solid red;
  transition: border-bottom 0.4s;
}

.navLinkActive {
  font-weight: 200;
  border-bottom: 2px solid red;
}

@keyframes wait {
  from {
    transform: translateX(-600px);
    width: 600px;
  }
  to {
    transform: translateX(0px);
    width: 100%;
  }
}

@keyframes divider {
  from {
    transform: translateX(1000px);
    width: 600px;
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes transitionIn {
  from {
      opacity: 0.0;
      transform: translateX(10px);
    }
    to {
      opacity: 1.0;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0.0;
      transform: scale(1.05)
    }
    to {
      opacity: 1.0;
  }
}
